
{% if user.is_authenticated %}
  
  <nav>
    <ul>
      <li>Signed in as {{ user }}</li>
      <li>
        <a href="{% url 'log' %}">Food Log</a>
      </li>
      <li>
        <a href="{% url 'charts' %}">Daily Stats</a>
      </li>
      <li>
        <a href="{% url 'search' %}">Search</a>
      </li>
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </nav>
{% else %}
  <nav>
    <ul>
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'search' %}">Search</a>
      </li>
      <li>
        <a href="{% url 'register' %}">Sign Up</a>
      </li>
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
    </ul>
  </nav>
{% endif %}

