{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-VA-Compatible" content="ie=edge">


<!-- Links
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Nutrition App | {% block title %}{% endblock %}</title> 
-->

</head>
<body>
  
  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Main Content-->
  {% block content %} {% endblock %}



  <!-- Scripts  
    <script src="{% static 'js/main.js' %}"></script> 
  -->
</body>
</html>